<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Populations</key>
	<array>
		<real>55090673</real>
		<real>57593769</real>
		<real>59497316</real>
		<real>60696724</real>
		<real>61574398</real>
		<real>62348977</real>
		<real>62327737</real>
	</array>
</dict>
</plist>
