<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Populations</key>
	<dict>
		<key>OKINAWA</key>
		<integer>1392818</integer>
		<key>KAGOSHIMA</key>
		<integer>1706242</integer>
		<key>MIYAZAKI</key>
		<integer>1135233</integer>
		<key>OOITA</key>
		<integer>1196529</integer>
		<key>KUMAMOTO</key>
		<integer>1817426</integer>
		<key>NAGASAKI</key>
		<integer>1426779</integer>
		<key>SAGA</key>
		<integer>849788</integer>
		<key>FUKUOKA</key>
		<integer>5071968</integer>
		<key>KOCHI</key>
		<integer>764456</integer>
		<key>EHIME</key>
		<integer>143149</integer>
		<key>KAGAWA</key>
		<integer>995842</integer>
		<key>TOKUSHIMA</key>
		<integer>785491</integer>
		<key>YAMAGUCHI</key>
		<integer>1451338</integer>
		<key>HIROSHIMA</key>
		<integer>2860750</integer>
		<key>OKAYAMA</key>
		<integer>1945276</integer>
		<key>SHIMANE</key>
		<integer>717397</integer>
		<key>TOTTORI</key>
		<integer>588667</integer>
		<key>WAKAYAMA</key>
		<integer>1002198</integer>
		<key>NARA</key>
		<integer>1400728</integer>
		<key>HYOGO</key>
		<integer>5588133</integer>
		<key>OSAKA</key>
		<integer>8865245</integer>
		<key>KYOTO</key>
		<integer>2636092</integer>
		<key>SHIGA</key>
		<integer>1410777</integer>
		<key>MIE</key>
		<integer>1854724</integer>
		<key>AICHI</key>
		<integer>7410719</integer>
		<key>SHIZUOKA</key>
		<integer>3765007</integer>
		<key>GIFU</key>
		<integer>2080773</integer>
		<key>NAGANO</key>
		<integer>2152449</integer>
		<key>YAMANASHI</key>
		<integer>863075</integer>
		<key>FUKUI</key>
		<integer>806314</integer>
		<key>ISHIKAWA</key>
		<integer>1169788</integer>
		<key>TOYAMA</key>
		<integer>1093247</integer>
		<key>NIIGATA</key>
		<integer>2374450</integer>
		<key>KANAGAWA</key>
		<integer>9048331</integer>
		<key>TOKYO</key>
		<integer>13159388</integer>
		<key>CHIBA</key>
		<integer>6216289</integer>
		<key>SAITAMA</key>
		<integer>7194556</integer>
		<key>GUMMA</key>
		<integer>2008068</integer>
		<key>TOCHIGI</key>
		<integer>2007683</integer>
		<key>IBARAKI</key>
		<integer>2969770</integer>
		<key>FUKUSHIMA</key>
		<integer>2029064</integer>
		<key>YAMAGATA</key>
		<integer>1168924</integer>
		<key>AKITA</key>
		<integer>1085997</integer>
		<key>MIYAGI</key>
		<integer>2348165</integer>
		<key>IWATE</key>
		<integer>1330147</integer>
		<key>AOMORI</key>
		<integer>1373339</integer>
		<key>HOKKAIDO</key>
		<integer>5506419</integer>
	</dict>
</dict>
</plist>
