<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Populations</key>
	<dict>
		<key>OKINAWA</key>
		<string></string>
		<key>KAGOSHIMA</key>
		<string></string>
		<key>MIYAZAKI</key>
		<string></string>
		<key>OOITA</key>
		<string></string>
		<key>KUMAMOTO</key>
		<string></string>
		<key>NAGASAKI</key>
		<string></string>
		<key>SAGA</key>
		<string></string>
		<key>FUKUOKA</key>
		<string></string>
		<key>KOCHI</key>
		<string></string>
		<key>EHIME</key>
		<string></string>
		<key>KAGAWA</key>
		<string></string>
		<key>TOKUSHIMA</key>
		<string></string>
		<key>YAMAGUCHI</key>
		<string></string>
		<key>HIROSHIMA</key>
		<string></string>
		<key>OKAYAMA</key>
		<string></string>
		<key>SHIMANE</key>
		<string></string>
		<key>TOTTORI</key>
		<string></string>
		<key>WAKAYAMA</key>
		<string></string>
		<key>NARA</key>
		<string></string>
		<key>HYOGO</key>
		<string></string>
		<key>OSAKA</key>
		<string></string>
		<key>KYOTO</key>
		<string></string>
		<key>SHIGA</key>
		<string></string>
		<key>MIE</key>
		<string></string>
		<key>AICHI</key>
		<string></string>
		<key>SHIZUOKA</key>
		<string></string>
		<key>GIFU</key>
		<string></string>
		<key>NAGANO</key>
		<string></string>
		<key>YAMANASHI</key>
		<string></string>
		<key>FUKUI</key>
		<string></string>
		<key>ISHIKAWA</key>
		<string></string>
		<key>TOYAMA</key>
		<string></string>
		<key>NIIGATA</key>
		<string></string>
		<key>KANAGAWA</key>
		<string></string>
		<key>TOKYO</key>
		<string></string>
		<key>CHIBA</key>
		<string></string>
		<key>SAITAMA</key>
		<string></string>
		<key>GUMMA</key>
		<string></string>
		<key>TOCHIGI</key>
		<string></string>
		<key>IBARAKI</key>
		<string></string>
		<key>FUKUSHIMA</key>
		<string></string>
		<key>YAMAGATA</key>
		<string></string>
		<key>AKITA</key>
		<string></string>
		<key>MIYAGI</key>
		<string></string>
		<key>IWATE</key>
		<string>1,330,147</string>
		<key>AOMORI</key>
		<string>1373339</string>
		<key>HOKKAIDO</key>
		<string>5506419</string>
	</dict>
</dict>
</plist>
