<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Populations</key>
	<array>
		<real>59466627</real>
		<real>61551607</real>
		<real>62914443</real>
		<real>63995848</real>
		<real>64815079</real>
		<real>65419017</real>
		<real>65729615</real>
	</array>
</dict>
</plist>
